{% extends 'base.html.twig' %}


{% block title %}Votre compte
{% endblock %}

{% block body %}


	<div class="container text-center">

		{% if is_granted('ROLE_USER') %}
			<div class="mt-5 mb-5">
				<h1 class="text-center">Bienvenue {{app.user.username}}</h1>
                <h4>Vos options</h4>
			</div>

			<div class="mt-5 mb-5">
				<a href={{path('compte_user', { id: app.user.id} )}}>
					<button class="btn btn-lg btn-primary" type="button">Mon compte</button>
				</a>
			</div>

			<div class="mt-5 mb-5">
				<a href={{path('commandes_user')}}>
					<button class="btn btn-lg btn-primary" type="button">Mes commandes</button>
				</a>
			</div>


		{% else %}
			<div class="mt-5 mb-5">
				<h1 class="text-center">Bonjour {{app.user.username}}</h1>
			</div>

			<div class="mt-5 mb-5">
				<a href={{path('produits_admin')}}>
					<button class="btn btn-lg btn-primary" type="button">Gestion Produits</button>
				</a>
			</div>

			<div class="mt-5 mb-5">
				<a href={{path('commandes_admin')}}>
					<button class="btn btn-lg btn-primary" type="button">Gestion Commandes</button>
				</a>
			</div>


		{% endif %}

		<div class="mt-5 mb-5">
			<a href={{path('app_logout')}}>
				<button class="btn btn-lg btn-primary" type="button">Déconnexion</button>
			</a>
		</div>

	</div>


{% endblock %}
