{% extends 'base.html.twig' %}

{% block title %}
  Détail produit
{% endblock %}

{% block body %}
<div class="container text-center">
    <h1 class="">
        produits admin
    </h1>
    <div>
    <a href={{path('creation_produit')}}><button type="button" class="btn btn-primary mt-3 mb-3">Ajouter Produit</button></a>
    </div>
        {% for produit in produits %}
        <div class="card mb-3" style="height: 100px" >
            <div class="row no-gutters">
                <div class="col-2">
                    <img src={{produit.photo}} class="rounded" style="height: 100px" alt="...">
                </div>
                <div class="col-2">
                    <h6>Nom</h6>
                    <h3 class="card-text">{{produit.nom}}</h3>
                </div>
                <div class="col-4">
                    <h6>Description</h6>
                    <h5 class="card-text">{{produit.description}}</h5>
                </div>
                <div class="col-1">
                <h6>Stock</h6>
                    <h4 class="card-text">{{produit.stock}}</small></h4> 
               </div>
               <div class="col-2">
                    <h6>Prix</h6>
                    <h5 class="card-text">{{produit.prix}} €</h5>
                </div>
                <div class="col-1">
                    <a href={{path( 'modif_produit' , {id: produit.id})}}><button type="button" class="btn btn-primary mt-2">Modifier</button></a>
                    {% if produit.isActive %}
                        <button type="button" class="btn btn-success mt-2">Actif</button>
                    {% else %}
                        <button type="button" class="btn btn-danger mt-2">Inactif</button>
                    {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}
{% endblock %}
