{% extends 'base.html.twig' %}

{% block title %}Détail produit{% endblock %}

{% block body %}

<h1>Détail du produit</h1>

    <div class="container-fluid">
        <p>Nom : {{produit.nom}}</p>
        <p>Prix : {{produit.prix}}</p>
        <p>{{produit.photo}}</p>    
       
        
        {% if (produit.stock < 10) %} 
            <p> Il n'en reste plus que {{produit.stock}} en stock. Ne tardez pas à commander !"</p>
        {% endif %}
        
        <button type="button" class="btn btn-primary"><a href="{{path('accueil')}}">Accueil</a></button>
    </div>

{% endblock %}