{% extends 'base.html.twig' %}



{% block title %}Détail produit{% endblock %}

{% block body %}

    <div class="TitrePageProduit">
            <h1>Détails du produit</h1>
    </div>
{#     
        <div class="card" style="width: 100rem; margin:0 auto;">
            <img src={{ produit.photo }} class="card-img-top center-block" style="width: 350px;" alt="...">
                <div class="card-body">
                    <h4 class="card-title">{{produit.nom}}</h4>
    
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item text-center">Prix : {{produit.prix}}</li>
                    <li class="list-group-item text-center">
                        {% if (produit.stock < 6) %} 
                            <p> Il n'en reste plus que {{produit.stock}} en stock. Ne tardez pas à commander !</p>
                        {% else %}
                            <p> Stock : il reste encore {{produit.stock}} {{produit.nom}}.
                        {% endif %}
                    </li>
    
                </ul>
            <div class="card-body">
                <button type="button" class="btn btn-warning"><a href="{{ path('cart_add', {'id': produit.id }) }}" class="card-link">Ajouter le produit au panier</a></button>
                <button type="button" class="btn btn-alert"><a href="{{path('accueil')}}">Accueil</a></button>
            </div>
        </div> #}
    
<div class="container-fluid">
  

<div class="row">
  
<div class="col-6">
<img src={{ produit.photo }} class="card-img-top center-block" style="width: 350px;" alt="...">
</div>
<div class="col-6">
<ul class="list-group list-group-flush">
                    <li class="list-group-item "> {{produit.nom}}</li>
                    <li class="list-group-item ">Prix : {{produit.prix}}</li>
                    <li class="list-group-item ">
                        {% if (produit.stock < 6) %} 
                            <p> Il n'en reste plus que {{produit.stock}} en stock. Ne tardez pas à commander !</p>
                        {% else %}
                            <p> Stock : il reste encore {{produit.stock}} {{produit.nom}}.
                        {% endif %}
                    </li>
    
                </ul>
                 <div class="card-body">
                <button type="button" class="btn btn-warning"><a href="{{ path('cart_add', {'id': produit.id }) }}" class="card-link">Ajouter au panier</a></button>
                <button type="button" class="btn btn-alert"><a href="{{path('accueil')}}">Accueil</a></button>
            </div>
</div>

</div>


    {# <div class="container-fluid">
        <p>Nom : {{produit.nom}}</p>
        <p>Prix : {{produit.prix}}</p>
        <img src={{ produit.photo }} alt="photo">    
       
        
        {% if (produit.stock < 10) %} 
            <p> Il n'en reste plus que {{produit.stock}} en stock. Ne tardez pas à commander !</p>
        {else}
            <p> Stock : il reste encore {{produit.stock}} en stock
        {% endif %}
        
        <button type="button" class="btn btn-alert"><a href="{{path('accueil')}}">Accueil</a></button>
    </div> #}

<div class="container">
    <div class="row">
        <!-- Image -->
        <div class="col-12 col-lg-6">
            <div class="card bg-light mb-3">
                <div class="card-body">
                    <a href="" data-toggle="modal" data-target="#productModal">
                        <img class="img-fluid" src="https://dummyimage.com/800x800/55595c/fff" />
                        <p class="text-center">Zoom</p>
                    </a>
                </div>
            </div>
        </div>

        <!-- Add to cart -->
        <div class="col-12 col-lg-6 add_to_cart_block">
            <div class="card bg-light mb-3">
                <div class="card-body">
                    <p class="price">99.00 $</p>
                    <p class="price_discounted">149.90 $</p>
                    <form method="get" action="cart.html">
                         <div class="form-group">
                            <label>Quantity :</label>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <button type="button" class="quantity-left-minus btn btn-danger btn-number"  data-type="minus" data-field="">
                                        <i class="fa fa-minus"></i>
                                    </button>
                                </div>
                                <input type="text" class="form-control"  id="quantity" name="quantity" min="1" max="100" value="1">
                                <div class="input-group-append">
                                    <button type="button" class="quantity-right-plus btn btn-success btn-number" data-type="plus" data-field="">
                                        <i class="fa fa-plus"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <a href="cart.html" class="btn btn-success btn-lg btn-block text-uppercase">
                            <i class="fa fa-shopping-cart"></i> Add To Cart
                        </a>
                    </form>
                    <div class="product_rassurance">
                        <ul class="list-inline">
                            <li class="list-inline-item"><i class="fa fa-truck fa-2x"></i><br/>Fast delivery</li>
                            <li class="list-inline-item"><i class="fa fa-credit-card fa-2x"></i><br/>Secure payment</li>
                            <li class="list-inline-item"><i class="fa fa-phone fa-2x"></i><br/>+33 1 22 54 65 60</li>
                        </ul>
                    </div>
                   </div>
            </div>
        </div>
    </div>

    <div class="row">
        <!-- Description -->
        <div class="col-12">
            <div class="card border-light mb-3">
                <div class="card-header bg-primary text-white text-uppercase"><i class="fa fa-align-justify"></i> Description</div>
                <div class="card-body">
                    <p class="card-text">
                        Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500, quand un peintre anonyme assembla ensemble des morceaux de texte pour réaliser un livre spécimen de polices de texte. Il n'a pas fait que survivre cinq siècles, mais s'est aussi adapté à la bureautique informatique, sans que son contenu n'en soit modifié. Il a été popularisé dans les années 1960 grâce à la vente de feuilles Letraset contenant des passages du Lorem Ipsum, et, plus récemment, par son inclusion dans des applications de mise en page de texte, comme Aldus PageMaker.
                    </p>
                    <p class="card-text">
                        Contrairement à une opinion répandue, le Lorem Ipsum n'est pas simplement du texte aléatoire. Il trouve ses racines dans une oeuvre de la littérature latine classique datant de 45 av. J.-C., le rendant vieux de 2000 ans. Un professeur du Hampden-Sydney College, en Virginie, s'est intéressé à un des mots latins les plus obscurs, consectetur, extrait d'un passage du Lorem Ipsum, et en étudiant tous les usages de ce mot dans la littérature classique, découvrit la source incontestable du Lorem Ipsum. Il provient en fait des sections 1.10.32 et 1.10.33 du "De Finibus Bonorum et Malorum" (Des Suprêmes Biens et des Suprêmes Maux) de Cicéron. Cet ouvrage, très populaire pendant la Renaissance, est un traité sur la théorie de l'éthique. Les premières lignes du Lorem Ipsum, "Lorem ipsum dolor sit amet...", proviennent de la section 1.10.32.
                    </p>
                </div>
            </div>
        </div>
{% endblock %}