<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />

    {# Boostrap #}
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous" />
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"></script>

    {# FontAwesome #}
    <link rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" />

    {# CSS #}
    <link rel="stylesheet" href="/css/Base.css" />
    <link rel="stylesheet" href="/css/modalLogin.css" />
    <link rel="stylesheet" href="/css/PresentationProduitAccueil.css" />

    <script src="/js/modalLogin.js"></script>

    <title>
      {% block title %}
        Bonjour
      {% endblock %}
    </title>

    {% block stylesheets %}

    {% endblock %}

    {% block javascripts %}

    {% endblock %}
  </head>

  <body>
    {# <div class="container-fluid" >

    <nav class="navbar navbar-expand" >
        <div class="navbar-header">
          <button type="button"
            class="navbar-toggle"
            data-toggle="collapse"
            data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

      
        </div>
        <div class="collapse navbar-collapse align-middle" id="myNavbar">
          <ul class="nav navbar-nav">
            <li><a href={{path('categories')}}>Catégorie</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">

            <!-- Signin & Signup -->
            <li>
            {% if is_granted('ROLE_ADMIN') %}
              <a href={{path('compte')}}>
                <button type="button"
                  class="btn btn-success btn-md"
                  data-toggle="modal"
                  data-target=".login-register-form">
                  Mon Compte
                </button>
                <span class="glyphicon glyphicon-user"></span>
              </a>
              {% elseif is_granted('ROLE_USER') %}
              <a href={{path('compte')}}>
                <button type="button"
                  class="btn btn-success btn-md"
                  data-toggle="modal"
                  data-target=".login-register-form">
                  Mon Compte
                </button>
                <span class="glyphicon glyphicon-user"></span>
              </a>
            {% else %}
              <a href={{path('app_login')}}>
                <button type="button"
                  class="btn btn-success btn-md"
                  data-toggle="modal"
                  data-target=".login-register-form">
                  Connexion
                </button>
                <span class="glyphicon glyphicon-user"></span>
              </a>
            {% endif %}

              
            </li>

            <li>
                <a href={{path('panier')}}><button type="button" class="btn btn-success btn-md">
                  <span class="glyphicon glyphicon-shopping-cart"></span> Panier
                </button></a>
            </li>
          </ul>
        </div>
      </div>
    </nav> #}

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand align-middle"  href="{{path('accueil')}}">
          <img src="\img\logo-nocamaju.PNG" alt="logo nocamaju"></a>
      <button class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#myNavbar"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="{{path('accueil')}}">
              Accueil <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle"
              id="navbarDropdown"
              role="button"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false">
              Catégories
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href={{path('categories')}}>Toutes les catégories</a> {# ajout pour débuggage facile #}
              <a class="dropdown-item" href="#">Livre</a>
              <a class="dropdown-item" href="#">Jouet</a>
              <a class="dropdown-item" href="#">Jeu Vidéo</a>   
              <a class="dropdown-item" href="#">Électroménager</a>
              <a class="dropdown-item" href="#">Musique</a>
              </div>
          </li>
         </ul>

         
       <!-- Signin & Signup -->
       <ul id="boutonLoginPanier">
                  {% if is_granted('ROLE_ADMIN') %}
              <a href={{path('compte')}}>
                <button type="button"
                  class="btn btn-outline-danger btn-md"
                  data-toggle="modal"
                  data-target=".login-register-form">
                  Mon Compte Admin
                </button>
                <span class="glyphicon glyphicon-user"></span>
              </a>
              {% elseif is_granted('ROLE_USER') %}
              <a href={{path('compte')}}>
                <button type="button"
                  class="btn btn-success btn-md"
                  data-toggle="modal"
                  data-target=".login-register-form">
                  Mon Compte
                </button>
                <span class="glyphicon glyphicon-user"></span>
              </a>
            {% else %}
              <a href={{path('app_login')}}>
                <button type="button"
                  class="btn btn-outline-success btn-md"
                  data-toggle="modal"
                  data-target=".login-register-form">
                  Connexion
                </button>
                <span class="glyphicon glyphicon-user"></span>
              </a>
            {% endif %}
                         <a href={{path('panier')}}><button type="button" class="btn btn-warning btn-md">
                         <img src="/img/icons8-caddie-24.png" alt="Logo Panier"> Panier </button></a>
                      
            </ul>
      </div>
    </nav>


     {% block body %}

    {% endblock %}
  <footer>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3">
          <p>
            NoCaMaJu
          </p>
          <small class="d-block mb-3 text-muted">&copy; NoCaMaJu 2021</small>
        </div>
        <div class="col-sm-3">
          <h5>
            Catégorie
          </h5>
          <ul class="list-unstyled text-small">
            <li><a class="text-muted" href="#">Livre</a></li>
            <li><a class="text-muted" href="#">Jouet</a></li>
            <li><a class="text-muted" href="#">Jeu Vidéo</a></li>
            <li><a class="text-muted" href="#">Électroménager</a></li>
            <li><a class="text-muted" href="#">Musique</a></li>
          </ul>
        </div>
        <div class="col-sm-3">
          <h5>
            Contact
          </h5>
          <ul class="list-unstyled text-small">
            <li><a class="text-muted" href="#">Nous contacter</a></li>
            <li><a class="text-muted" href="#">Instagram</a></li>
            <li><a class="text-muted" href="#">Facebook</a></li>
          </ul>
        </div>
        <div class="col-sm-3">
          <h5>
            Horaires
          </h5>
          <ul class="list-unstyled text-align-center">
            <li>
              <img src="https://img.icons8.com/color/20/000000/checked--v1.png"
                style="margin-right:10px" /><a class="text-muted" href="#">
                Lundi 9h-19h
              </a>
            </li>
            <li>
              <img src="https://img.icons8.com/color/20/000000/checked--v1.png"
                style="margin-right:10px" /><a class="text-muted" href="#">
                Mardi 9h-19h
              </a>
            </li>
            <li>
              <img src="https://img.icons8.com/color/20/000000/checked--v1.png"
                style="margin-right:10px" /><a class="text-muted" href="#">
                Mercredi 9h-19h
              </a>
            </li>
            <li>
              <img src="https://img.icons8.com/color/20/000000/checked--v1.png"
                style="margin-right:10px" /><a class="text-muted" href="#">
                Jeudi 9h-19h
              </a>
            </li>
            <li>
              <img src="https://img.icons8.com/color/20/000000/checked--v1.png"
                style="margin-right:10px" /><a class="text-muted" href="#">
                Vendredi 9h-19h
              </a>
            </li>
            <li>
              <img src="https://img.icons8.com/color/20/000000/checked--v1.png"
                style="margin-right:10px" /><a class="text-muted" href="#">
                Samedi 9h-19h
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    {# Icones couleurs #}
    <a href="https://icons8.com/icon/63262/vérifié"></a>
  </footer>
  </body>
</html>
